# Byte-compiled / optimized / DLL files
__pycache__/
logs/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sbin/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.vscode/
.idea/
src/.worktrees/*/
src/.tasks/*/
src/.team/*/
src/.transcripts/*/
src/.task_outputs/*/
